header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
header a {
  color: white;
  margin-right: 100px;
  text-decoration: none;
  font-size: 50px;
}
